---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css"/>
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif%}</title>
    {% if site.author.name %}<meta name="author" content="{{ site.author.name }}"/>{% endif%}
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
  </head>
  <body>

    <header>
      <h1>{{ site.title }}</h1>
    </header>

    <nav>
      {% capture navigation %}{% include navigation.md %}{% endcapture %}
      {{ navigation | markdownify }}
    </nav>

    <main>

      <article>
        {{ content }}
      </article>

      <aside>
	{% capture aside %}{% include aside.md %}{% endcapture %}
	{{ aside | markdownify }}
      </aside>

    </main>

    <footer>
      {% capture footer %}{% include footer.md%}{% endcapture %}
      {{ footer | markdownify }}
    </footer>

  </body>
</html>
